h1{
	text-align: center;
	border: 5px solid #25cdc3;
	border-radius: 16px ;
	background-color: #ececea;
	color:#25cdc3;}
	h3{
	text-align: center;
	border: 5px solid #25cdc3;
	border-radius: 16px ;
	background-color: #ececea;
	color:#25cdc3;}
body{
	color:red;
	font-size: 30px;
	font-weight: bold;
 	background-color:white ;
 	font-family:Comic Sans MS;
	color:#25cdc3;

}
.tablen{
	background: url(images/color.png)repeat-x top;
	background-color: #7693cc;
	color: #FFFFFF;
	

}
.wwww{
		
}
table,th,td{
	border-collapse: collapse;
	font-size: 18pt;
	border: 2px solid #25cdc3;


}
a{
	color:#25cdc3;
	font-size: 12px;
	text-decoration: none;
}